<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="springHelloWorld" class="com.toxin.spring.ex1.SpringHelloWord" init-method="initBean" scope="prototype">
        <property name="helloMessage" value="Hello World from app-context!"/>
    </bean>

    <bean id="message" class="com.toxin.spring.ex2.Message" lazy-init="true" scope="singleton">
        <property name="message" value="Hello World from bean factory!"/>
    </bean>

    <bean id="messageToYou" class="com.toxin.spring.ex2.MessageToYou" parent="message">
        <property name="messageToYou" value="I'am glad to see YOU"/>
    </bean>

    <bean id="exam" class="com.toxin.spring.ex3.Exam">
        <property name="answerChecker">
            <bean class="com.toxin.spring.ex3.AnswerChecker"/>
        </property>
    </bean>

    <bean class="com.toxin.spring.BeanPostProcessorImpl"/>

</beans>