<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="exam" class="com.toxin.spring.ex3.Exam" autowire="byName">
        <constructor-arg value="ComputerScience"/>
        <property name="subject" value="Computer Science"/>
    </bean>

    <bean id="answerChecker" class="com.toxin.spring.ex3.AnswerChecker">

    </bean>

</beans>